@page
@model LockoutModel
@{
    ViewData["Title"] = "Zablokováno";
}

<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">Tento účet byl zablokován, zkus to později.</p>
</header>
