@page
@model LoginWith2faModel
@{
    ViewData["Title"] = "Dvoufázové ověření";
}

<h1>@ViewData["Title"]</h1>
<hr />
<p>Tvůj účet je zabezpečen pomocí dvoufázového ověřování. Níže zadej kód z aplikace.</p>
<div class="row">
    <div class="col-md-4">
        <form method="post" asp-route-returnUrl="@Model.ReturnUrl">
            <input asp-for="RememberMe" type="hidden" />
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <div class="form-floating mb-3">
                <input asp-for="Input.TwoFactorCode" class="form-control" autocomplete="off" />
                <label asp-for="Input.TwoFactorCode" class="form-label"></label>
                <span asp-validation-for="Input.TwoFactorCode" class="text-danger"></span>
            </div>
            <div class="checkbox mb-3">
                <label asp-for="Input.RememberMachine" class="form-label">
                    <input asp-for="Input.RememberMachine" />
                    @*@Html.DisplayNameFor(m => m.Input.RememberMachine)*@
                    Zapamatovat si
                </label>
            </div>
            <div>
                <button type="submit" class="w-100 btn btn-lg btn-primary">Přihlásit se</button>
            </div>
        </form>
    </div>
</div>
<p>
    Nemáš přístup do své ověřovací aplikace? Můžeš 
    <a id="recovery-code-login" asp-page="./LoginWithRecoveryCode" asp-route-returnUrl="@Model.ReturnUrl">se přihlásit pomocí záložního kódu.</a>.
</p>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}