@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Změna hesla potvrzena";
}

<h1>@ViewData["Title"]</h1>
<p>
    Tvé heslo bylo změněno. Prosím <a asp-page="./Login">klikni zde pro přihlášení</a>.
</p>
