@page
@model Disable2faModel
@{
    ViewData["Title"] = "Vypnout dvoufázové ověřování (2FA)";
    ViewData["ActivePage"] = ManageNavPages.TwoFactorAuthentication;
}

<partial name="_StatusMessage" for="StatusMessage" />
<h3>@ViewData["Title"]</h3>

<div class="alert alert-warning" role="alert">
    <p>
        <strong>Tato akce pouze deaktivuje 2FA.</strong>
    </p>
    <p>
        Vypnutím funkce 2FA se nezmění klíče používané v aplikacích autentizátoru. Pokud si přejete změnit klíč
        používaný v aplikaci autentizátoru, měli byste <a asp-page="./ResetAuthenticator">resetování autentizačních klíčů.</a>
    </p>
</div>

<div>
    <form method="post">
        <button class="btn btn-danger" type="submit">Deaktivovat 2FA</button>
    </form>
</div>
