@page
@model GenerateRecoveryCodesModel
@{
    ViewData["Title"] = "Generování kódů pro obnovení dvoufaktorového ověřování (2FA)";
    ViewData["ActivePage"] = ManageNavPages.TwoFactorAuthentication;
}

<partial name="_StatusMessage" for="StatusMessage" />
<h3>@ViewData["Title"]</h3>
<div class="alert alert-warning" role="alert">
    <p>
        <span class="glyphicon glyphicon-warning-sign"></span>
        <strong>Uložte tyto kódy na bezpečné místo.</strong>
    </p>
    <p>
        Pokud zařízení ztratíte a nebudete mít kódy pro obnovení, ztratíte přístup ke svému účtu.
    </p>
    <p>
        Generování nových kódů pro obnovení nemění klíče používané v aplikacích autentizátoru. Pokud si přejete změnit klíč
        použitý v aplikaci autentizátoru, měli byste <a asp-page="./ResetAuthenticator">resetovat autentizační klíče.</a>
    </p>
</div>
<div>
    <form method="post">
        <button class="btn btn-danger" type="submit">Vygenerovat záložní kódy</button>
    </form>
</div>
