@page
@model PersonalDataModel
@{
    ViewData["Title"] = "Osobní údaje";
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}

<h3>@ViewData["Title"]</h3>

<div class="row">
    <div class="col-md-6">
        <p>Váš účet obsahuje osobní údaje, které jste nám poskytli. Na této stránce můžete tyto údaje stáhnout nebo vymazat.</p>
        <p>
            <strong>Odstraněním těchto dat dojde k trvalému odstranění účtu, který nelze obnovit.</strong>
        </p>
        <form id="download-data" asp-page="DownloadPersonalData" method="post">
            <button class="btn btn-primary" type="submit">Stáhnout</button>
        </form>
        <p>
            <a id="delete" asp-page="DeletePersonalData" class="btn btn-danger">Odstranit</a>
        </p>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
