@model BP_1.Models.Uživatel

@{
    ViewData["Title"] = "Vytvořit";
}



<h1>Vítej, zadej se své údaje</h1>

@{
    var userIdClaim = User.FindFirst(System.Security.Claims.ClaimTypes.NameIdentifier);
    var userId = userIdClaim?.Value;
}

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="Jméno" class="control-label"></label>
                <input asp-for="Jméno" class="form-control" />
                <span asp-validation-for="Jméno" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Přijmení" class="control-label"></label>
                <input asp-for="Přijmení" class="form-control" />
                <span asp-validation-for="Přijmení" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Věk" class="control-label"></label>
                <input asp-for="Věk" class="form-control" />
                <span asp-validation-for="Věk" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Výška" class="control-label"></label>
                <input asp-for="Výška" class="form-control" />
                <span asp-validation-for="Výška" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Váha" class="control-label"></label>
                <input asp-for="Váha" class="form-control" />
                <span asp-validation-for="Váha" class="text-danger"></span>
            </div>
            <div class="form-group">
                
                <input asp-for="Id1" class="form-control" type="hidden" value=@userId />
                <span asp-validation-for="Id1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Vytvořit" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>





@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

<!--<a href="/">My comment

    if (userId != null)
    {
        Model.Id1 = userId;
    }
}->